@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-alt {
  font-family: 'Work Sans', sans-serif;
}

.heading {
  font-family: 'Work Sans', sans-serif;
  transition: 0.3s;
}

.heading:hover {
  transform: translateY(-4px);
  color: #5a473a;
}